@charset "UTF-8";

@media screen and (max-width: 768px) and (max-height: 1024px) {
    section#container {
        width: 90%;
        background-position: left;
    }

    section#container div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    sewction#container div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    section#container {
        width: 990px;
    }

    section#container div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#container div#formulario {
        float: right;
        width: 60%;
    }
}